.advantages{
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &_our{
        color: #0d0d0d;

        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__icons{
        margin-top: 65px;
        
        display: flex;
        justify-content: space-around;
    }
    &__icon{
        
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        &__dscrp{
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            width: 239px;
            line-height: 22px;
            
        }
    }
    
    
}