.title{
    color: #0d0d0d;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    &_left{
    line-height: 44px;
    color: #fff;
    font-size: 36px;
    text-align: left;
    }
}